.body {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
}
.text-center {
  text-align: center;
}
/* header */
#header-resume {
  background-attachment: fix;
  opacity: 0.8;
  background-position: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 400px;
  padding-top: 14px;
}
#header-nav ul {
  word-spacing: 20px;
}
#header-nav li {
  display: inline-block;
}
#header-nav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.nav-menu li a {
  color: yellowgreen;
  transition: color 0.7s, border-bottom 2s;
}
.nav-menu li a:hover {
  color: lightgray;
  border-bottom: 1px solid lightcyan;
  text-decoration: none;
}
#name-container {
  margin-top: 150px;
  font-size: 30px;
}
#myName {
  color: white;
}
/* About Section */
section {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
#myPhoto img {
  margin-top: -120px;
  border: 4px solid white;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px lightgray;
}
section::after {
  content: "";
  clear: both;
  display: table;
}
.section-heading {
  color: blue;
  font-size: 35px;
  padding: 4rem;
}
#about-section {
  height: auto;
  width: 100%;
  position: relative;
}
#about-profile {
  color: grey;
  width: 80%;
  padding: 20px;
  margin: auto;
  font-size: 18px;
}
/* skill section */
#skills {
  width: 100%;
}
/* skill parent container */
.skill-display {
  padding: 5px;
  margin-bottom: 30px;
}
.skill-progress {
  border-width: 1px;
  background-color: grey;
  width: 176px;
  height: 35px;
  border-radius: 16px;
  box-shadow: 1px 1px 2px 1px lightgoldenrodyellow;
  margin: 22px;
  overflow: hidden;
}
.skill-box {
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;
}
.skill-name span {
  color: white;
  margin-left: 10px;
  text-align: center;
  font-size: 16px;
}
.col-3 {
  float: left;
  width: 30%;
}
/* percentage for skill */
.fifty-percent {
  height: inherit;
  width: 50%;
}
.eighty-percent {
  height: inherit;
  width: 80%;
}
.eighty-five-percent {
  height: inherit;
  width: 85%;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.light-blue {
  background-color: lightblue;
}
.teal {
  background-color: teal;
}
.light-purple {
  background-color: #ec40ec;
}
/* favourites section */
.col-2 {
  float: left;
  width: 45%;
  margin: 20px;
  padding: 10px;
}
#favourites img {
  width: 500px;
  border: 2px dashed darkblue;
  border-radius: 15px;
}
#favourites span {
  margin: 20px;
}
/* education section */
#education {
  width: 100%;
}
#education img {
  width: 1000px;
  height: 500px;
}
.education-details h3 {
  color: #ed4b4b;
}
/* portofolio section */
#portofolio .col-3 {
  width: 31.7%;
  margin: 10px;
}
.portofolio-display {
  margin-bottom: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.portofolio-img {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
}
.portofolio-img img {
  width: 390px;
  height: 312px;
}
.portofolio-text {
  transition: all 0.5s ease-in-out;
  position: absolute;
  height: 292px;
  color: transparent;
  width: 370px;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}
.portofolio-img:hover {
  box-shadow: 1px 1px 1px lightseagreen;
  height: 312px;
}
.portofolio-img:hover .portofolio-text {
  background-color: #8bf15c;
  opacity: 0.5;
  color: white;
  cursor: pointer;
}
.text-right {
  text-align: right;
}